{% extends 'skillsMatrixApp/base.html' %}
{% block skills_active %}active{% endblock %}

{% block body %}
    <div class="skills-lbl">Update/Delete Skills</div>
    <div>
    {% if skillsList %}
        <table class="table table-striped  table-hover table-sm skills">
            <thead class="thead-dark skills-thead">
            <tr class="skills-tr">
                <th scope="col" class="skills-th">ID</th>
                <th scope="col" class="skills-th">Skill Name</th>
                <th scope="col" class="skills-th">Technology</th>
                <th scope="col" class="skills-th">Description</th>
                <th scope="col" class="skills-th">Date Added</th>
                <th scope="col" class="skills-th">Date Modified</th>
                <th scope="col" class="skills-th">Last Modified By</th>
                <th scope="col" class="skills-th">Update</th>
                <th scope="col" class="skills-th">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for skills in skillsList %}
                <tr class="skills-tr-data">
                    <td class="skills-td-dt skills-td-data">{{ skills.id }}</td>
                    <td class="skills-td-dt skills-td-data">{{ skills.skillName }}</td>
                    <td class="skills-td-dt skills-td-data">{{ skills.technology }}</td>
                    <td class="skills-td-data">{{ skills.description }}</td>
                    <td class="skills-td-data">{{ skills.dateAdded }}</td>
                    <td class="skills-td-data">{{ skills.dateModified }}</td>
                    <td class="skills-td-data">{{ skills.lastModifiedByID }}</td>
                    <td class="skills-td-data upd"><a href="{% url 'skillsMatrixApp:skills-update' skills.id %}"><img class="update" src="/static/skillsMatrixApp/images/icon-changelink.svg"></a></td>
                    <td class="skills-td-data upd"><a href="{% url 'skillsMatrixApp:skills-delete' skills.id %}"><img class="update" src="/static/skillsMatrixApp/images/icon-deletelink.svg"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="no-skills">
            <div><img class="no-data" src="/static/skillsMatrixApp/images/database.png"></div>
            <div class="no-skills-lbl"><br>No Data Available</div>
        </div>
    {% endif %}
    </div>
{% endblock %}
0